{% extends 'main/Base.html' %}
{% load static %}
{% block title %}
Promo codes
{% endblock %}
{% block style %}
    <link href="{% static 'CSS/Promo_Codes.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block main %}
<label class="main-label">Promo codes</label>
<!--<ul class="list">-->
<!--    <li class="feedback-plate">-->
<!--        <figure>-->
<!--            <h3>Promo Code: <i>WANDER25</i></h3>-->
<!--            <label>Get 25% off your next adventure booking with Wanderlust Adventures.</label>-->
<!--        </figure>-->
<!--    </li>-->
<!--    <li class="feedback-plate">-->
<!--        <figure>-->
<!--            <h3>Promo Code: <i>EXPLORE10</i></h3>-->
<!--            <label>Take 10% off your booking for an unforgettable exploration journey.</label>-->
<!--        </figure>-->
<!--    </li>-->
<!--    <li class="feedback-plate">-->
<!--        <figure>-->
<!--            <h3>Promo Code: <i>SUSTAINABLETRAVEL</i></h3>-->
<!--            <label>Experience sustainable travel and receive a 15% discount.</label>-->
<!--        </figure>-->
<!--    </li>-->
<!--    <li class="feedback-plate">-->
<!--        <figure>-->
<!--            <h3>Promo Code: <i>RETURNTRIP15</i></h3>-->
<!--            <label>Returning customers receive an extra 15% off their next trip.</label>-->
<!--        </figure>-->
<!--    </li>-->
<!--</ul>-->
<div class="list">

    {% for pr in promos %}
        <div class="feedback-plate">
            <div>
                <label class="">Promo Code: {{pr.promo_code}}</label>
                <label class="">{{pr.discount}}</label>
                <label class="">{{pr.finish_date}}</label>
            </div>
            <label class="">{{pr.description}}</label>
            {% if user.is_authenticated %}
                <button onclick=" location.href='{% url 'delete_promo' pr.id%}'">
                    <svg width="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.46967 5.46967C5.76256 5.17678 6.23744 5.17678 6.53033 5.46967L18.5303 17.4697C18.8232 17.7626 18.8232 18.2374 18.5303 18.5303C18.2374 18.8232 17.7626 18.8232 17.4697 18.5303L5.46967 6.53033C5.17678 6.23744 5.17678 5.76256 5.46967 5.46967Z" fill="#000000"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5303 5.46967C18.8232 5.76256 18.8232 6.23744 18.5303 6.53033L6.53035 18.5303C6.23745 18.8232 5.76258 18.8232 5.46969 18.5303C5.17679 18.2374 5.17679 17.7626 5.46968 17.4697L17.4697 5.46967C17.7626 5.17678 18.2374 5.17678 18.5303 5.46967Z" fill="#000000"></path> </g></svg>
                </button>
            {% endif %}
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <div class="promo-form-plate">
        <form enctype="multipart/form-data" method="post" class="news-form">
            {% csrf_token %}
            <label for="promo_code">
                promo_code:
                <input name="promo_code" type="text" id="promo_code">
            </label>

            <label for="discount">
                discount:
                <input name="discount" type="number" id="discount">
            </label>

            <label for="finish_date">
                finish_date:
                <input name="finish_date" type="datetime-local" id="finish_date">
            </label>

            <label >
                description:
            </label>
                <textarea name="description"></textarea>

            <button type="submit">Send</button>
        </form>
    </div>
    {% endif %}
</div>


{% endblock %}